In [5]:
conda install -c anaconda beautifulsoup4

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    soupsieve-1.9.2            |           py36_0          61 KB  anaconda
    beautifulsoup4-4.8.0       |           py36_0         147 KB  anaconda
    ------------------------------------------------------------
                                           Total:         208 KB

The following NEW packages will be INSTALLED:

    soupsieve:      1.9.2-py36_0 anaconda

The following packages will be UPDATED:

    beautifulsoup4: 4.6.3-py37_0          --> 4.8.0-py36_0 anaconda


Downloading and Extracting Packages
soupsieve-1.9.2      | 61 KB     | ##################################### | 100%
beautifulsoup4-4.8.0 | 147 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [1]:
conda install -c conda-forge wikipedia

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - wikipedia


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.6.16          |           py36_1         149 KB  conda-forge
    wikipedia-1.4.0            |             py_2          13 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         162 KB

The following NEW packages will be INSTALLED:

    wikipedia: 1.4.0-py_2       conda-forge

The following packages will be UPDATED:

    certifi:   2019.6.16-py36_1 anaconda    --> 2019.6.16-py36_1  conda-forge

The following packages will be DOWNGRADED:

    openssl:   1.1.1-h7b6447c_0 anaconda    --> 1.1.1c-h516909a_0 conda-forge


Downloading and Extracting Packages
certifi-2019.6.16    | 149 KB    | ##################################### | 100%
wikipedia-1.4.0      | 13 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [48]:
import pandas as pd
import wikipedia as wp
   
#Get the html source
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('beautifulsoup_pandas.csv',header=0,index=False)
print (df)

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [49]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [50]:
df=df[df.Borough != 'Not assigned']

In [51]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [52]:
 df=df.groupby("Postcode", as_index = False).agg(lambda x: ", ".join(sorted(set(x))))

In [55]:
df[df.Neighbourhood=='Not assigned']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [56]:
df.replace(to_replace ="Not assigned", 
                 value ="Queen's Park")

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Malvern, Rouge
1        M1C  Scarborough             Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [57]:
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [58]:
df.shape

(103, 3)